################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
.vs/
/ApolloBot.Console.NetCore/appsettings.Release.json
/ApolloBot.Console.NetCore/appsettings.Debug.json
/packages
/ApolloBot.Console.NetCore/Properties/PublishProfiles
